@model MVCDemo.Models.Employee

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <tr>
        <td>
           ID
        </td>
        <td>
            @Model.Id
        </td>
    </tr>
     <tr>
        <td>
           Name
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            Gender
        </td>
        <td>
            @Model.Gender
        </td>
    </tr>
    <tr>
        <td>
            City
        </td>
        <td>
            @Model.City
        </td>
    </tr>
</table>