@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach(var items in ViewBag.country)
        {
            <li>@items</li>
        }
    </ul>
</div>
