


<div style="font-family:Arial">
    <h2>index</h2>

    @using (Html.BeginForm())
    {
        foreach(var items in ViewBag.list)
        {
           <label>
               @Html.RadioButton("selectedOptions",items,false,new{id=items})@items
           </label>
        }
    }
    <input type="submit" value="submit" />
</div>