@model Emp

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Employee</h2>
        </div>
        <div class="mb-3">
            <label>First Name</label>
            <input asp-for="Fname" type="text" class="form-control" />
            <span asp-validation-for="Fname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Last Name</label>
            <input asp-for="Lname" type="text" class="form-control" />
            <span asp-validation-for="Lname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>DOB</label>
            <input asp-for="Dob" type="date" class="form-control" />
            <span asp-validation-for="Dob" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Contact</label>
            <input asp-for="Contact" type="number" class="form-control" />
            <span asp-validation-for="Contact" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Photo</label>
            <input asp-for="Photo" type="image" class="form-control" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-controller="Emp" asp-action="Index" class="btn btn-outline-secondary form-control">Back T List</a>
            </div>
        </div>


    </div>
</form>